NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="..."
CLERK_SECRET_KEY="..."

SELLER_APP_URL = "https://proyecto-c-seller-compulibre.vercel.app/"
SELLER_API_KEY = "4ch79bsgnp9xj6dpu1f3wt16rnprhrxd"

BUYER_APP_URL = "https://proyecto-c-buyer-compulibre.vercel.app/"
BUYER_API_KEY = "3gd8fbza7huokb0pp4wb3hb369w6qxjf"

SHIPPING_APP_URL = "https://proyecto-c-shipping-compulibre.vercel.app/"
SHIPPING_API_KEY = "296l1gzir92d2un7du8erbksou9f5xpf"

PAYMENTS_APP_URL = "https://proyecto-c-payments-compulibre.vercel.app/"
PAYMENTS_API_KEY = "0srf8e6kogjdla9fn04be73n9v13lg07"

SUPERADMIN_API_KEY = "5x6y7z8a9b0c1d2e3f4g5h6i7j8k9l0m"