NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="..."
CLERK_SECRET_KEY="..."

SELLER_APP_URL = "https://proyecto-c-seller-compulibre.vercel.app/"
SELLER_API_KEY = "..."

BUYER_APP_URL = "https://proyecto-c-buyer-compulibre.vercel.app/"
BUYER_API_KEY = "..."

SHIPPING_APP_URL = "https://proyecto-c-shipping-compulibre.vercel.app/"
SHIPPING_API_KEY = "..."

PAYMENTS_APP_URL = "https://proyecto-c-payments-compulibre.vercel.app/"
PAYMENTS_API_KEY = "..."